<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobo.mapper.OrderDetailMapper">

  <insert id="save">
    insert into order_detail (order_no, goods_id, goods_name, num, price)
    values (#{orderNo},#{goodsId},#{goodsName},#{num},#{price})
  </insert>
  <delete id="removeById"></delete>
  <select id="selectById" resultType="com.bobo.entity.OrderDetail"></select>
  <select id="selectPage" resultType="com.bobo.entity.OrderDetail"></select>
</mapper>
