<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.example.mapper.StudentMapper">


    <sql id="defaultSql">
        select * from student
    </sql>

    <select id="findAll" resultType="org.example.entity.Student">
        <include refid="defaultSql"></include>
    </select>

    <select id="selectByClassId" resultType="java.util.List" parameterType="String">
        <include refid="defaultSql"></include>
        <where>
            class_no = #{class_no}
        </where>
    </select>

</mapper>